@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<h1>Tworzenie testu</h1>


 
        <label>Pytanie</label>
        <input type="text" id="txtName" />
        <input type="submit" id="addTest" />



<div id="testWithQuestion"></div>
<p id="ziomek">Elo </p>


<script type="text/javascript">
    $("p").append("<strong>Hello</strong>");
      
</script>